/* reset CSS */

html {
    color: 10px;
    min-height: 100vh;
    background-image: radial-gradient(circle, #585858, #B79386 200px, #9C9691 150px, #628181 10px);
    background-position: 50% 50%;
    animation: foo 22000ms infinite alternate;
    font-family: 'Mansalva', cursive;
}

@keyframes foo {
    from {
        background-size: 69px 69px;
    }
    to {
        background-size: 9px 9px;
    }
}

/* Todo list style */

body {
    text-align: center;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 5.1rem;
    margin-right: 5rem;
    background-color: #222222;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 10% 1fr 1fr 1fr;
    grid-template-areas: ". h1 h1 h1 ." " . input input enter." ". ul ul . ." ". ul ul . ." ". ul ul . .";
    grid-gap: 1rem;
    min-height: 83vh;
    background-image: linear-gradient(165deg, #628181, #9C9691 35%, #B79386 55%, #DC8363 80%, #ED733A);
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.3rem 0.3rem #342e2d;
}

/* animation */

.checked {
    text-decoration: line-through;
    color: #fff;
}